<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">
  <!--  run loop for show item from mongoose -->
  <%newListItems.forEach(function(item){%>
  <form action="/delete" method="post">
    <div class="item">
      <!-- onchange is same button summit when check it's call js. -->
      <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
      <p><%=  item.name  %></p>
    </div>
    <input type="hidden" name="listitem" value="<%= listTitle %>">
  </form>

  <%});%>

  <!-- end of run loop for show item from mongoose -->

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>